* {
  box-sizing: border-box;
}

/* .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
} */

body {
  margin: 0;
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  border-color: #dee1e3;
  border-width: 0px;
  border-style: solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: 2.4em;
  padding-inline: 1em;
  padding-top: 1.5em;
  line-height: 1;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  padding-block: 1em;
  padding-inline: 1.5em;
  border-width: 0px;
  border-radius: 5px;
  margin-bottom: 2.5em;
  margin-top: 1em;
}
header {
  background-color: black;
  text-align: center;
  padding-top: 1.95em;
  padding-bottom: 2.45em;
}

header img {
  width: 170px;
}

p {
  padding-inline: 1.5em;
  font-size: 1.2em;
  padding-block: 1em;
}

footer {
  color: #c8e7f0;
  background-color: #25a2c3;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: white;
}

footer a {
  color: #c8e7f0;
}

.titlebar {
  text-align: center;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  /* height: 500px; */
}

.testimonials {
  background-color: #e22d0e;
}
